html {
  background: repeating-linear-gradient(180deg, rgb(80,150,140), rgb(95, 200, 139)) fixed;
  height: 100%;
}

img {
  max-width: 95%;
  max-height: 75%;
}

.title {
  font-size: 3em;
  text-align: "center";
  font-family: monospace;
  margin: 1em auto auto;
  color: "white";
  text-shadow: 1px 1px 1px #00000045;
}

.top-bar {
  width: 100%;
  height: 5em;
  background-color: #EFEFEF;
}

.search-wrapper {
  width: 100%;
  transition: 0.33s top;
  top: 36vh;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
}

.search-wrapper.top {
  top: 5vh;
}

.search-box {
  width: 75%;
  background-color: white;
  position: fixed;
  box-shadow: 0 2px 5px 0 #00000045;
}

.search-box.top {
  box-shadow: 0 0 0 0 #00000000;
}

.results-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14vh;
}

.results-list {
 width: 50%;
 margin-left: 10%;
}

.result {
  border-width: 1px;
  border-color: #EFEFEF;
  background: #EFEFEF;
  margin-bottom: 2em;
  padding: 0.5em;
  box-shadow: 0 2px 5px 0 #00000045;
}

.result:hover {
  background: #DEDEDE;
}

.result-content {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.sidebar-container {
  margin-right: 25%;
}

.sidebar-content {
  position: fixed;
  width: 15%;
}

.dropdown {
  background-color: #EFEFEF;
  box-shadow: 0 2px 5px 0 #00000045;
}