html {
  background: repeating-linear-gradient(180deg, rgb(80,150,140), rgb(95, 200, 139)) fixed;
  height: 100%;
}

img {
  max-width: 95%;
  max-height: 75%;
}

.search-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-box {
  width: 75%;
  background: #EFEFEF;
  position: fixed;
  box-shadow: 0 2px 5px 0 #00000045;
}

.results-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
}

.results-list {
 width: 50%;
 margin-left: 10%;
}

.result {
  border-width: 1px;
  border-color: white;
  background: #EFEFEF;
  margin-bottom: 2em;
  padding: 0.5em;
  box-shadow: 0 2px 5px 0 #00000045;
}

.result:hover {
  background: #DEDEDE;
}

.result-content {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.sidebar-container {
  margin-right: 25%;
}

.sidebar-content {
  position: fixed;
  width: 15%;
}

.dropdown {
  background-color: #EFEFEF;
  box-shadow: 0 2px 5px 0 #00000045;
}